<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo.png" alt="PEOPLE'S GYM Logo" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="clases.html" id="clasesMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clases
                        </a>
                        <ul class="dropdown-menu mega-menu" aria-labelledby="clasesMenu">
                            <li><a class="dropdown-item" href="clases.html#musculacion">Musculación</a></li>
                            <li><a class="dropdown-item" href="clases.html#crossfit">CrossFit</a></li>
                            <li><a class="dropdown-item" href="clases.html#yoga">Yoga</a></li>
                            <li><a class="dropdown-item" href="clases.html#spinning">Spinning</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="entrenadores.html">Entrenadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="precios.html">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <label class="switch ms-3">
                            <input type="checkbox" id="theme-toggle">
                            <span class="slider">
                                <span class="icon-sun">☀️</span>
                                <span class="icon-moon">🌙</span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>